<!DOCTYPE html>
<html lang="en">
    <head>
        <title>flamin' burger</title> <! -- Name which appears on tab -->
        <meta charset="utf-8"/>
    </head>
    <body>
      <main>
	<h1> Welcome to Flamin' Burgers</h1>
	<section>
	  <h2> Select Burger </h2>
	  <p> This is where you execute burger selection </p>
	  <h3> Flamin' Hot CheeseBurger </h3>
	  <img src="img/cheeseburger.jpg" width="300">
	</section>
	<section>
	  <h2> Customer Information </h2>
	  <p> This is where you provide necessary information </p>
	  </section>
      </main>
      <hr>
      <footer> &copy; 2018 Hypothetical Burgers Inc. </footer>
    </body>
</html>
         
