<!DOCTYPE html>
<html lang="en">
    <head>
        <title>flamin' burger</title> <! -- Name which appears on tab -->
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">							
   </head>
									
    <body>
      <main>
	<section id = "heading">
	  
	  
	    <img id = "headerimage" src="img/header.png" alt= "restaurant picture">
	    <h1 id = "heading-text"> Welcome to Flamin' Burgers</h1>

	  </section>
	<section id = "selectBurger">
	  <h2> Select Burger </h2>
	  <p> This is where you execute burger selection </p>
	  <div class = "selection">
	    <div class = "burger1"> Flamin' Hot CheeseBurger </div>
	    <div class = "burger1-image"> <img src= "img/cheeseburger.jpg" alt= "cheeseburger" width="300"> </div>
	    <div class = "burger1-info">
	      <ul>
		<li> Made with the highest quality meat </li>
		<li> Hot siracha sauce with bacon, cheese and onions </li>
		<li> contains  <span class = "allergies" >gluten </span> , <span class = "allergies">sesame seeds </span>  </li>
		<li> 750 kCal </li>
	    </div>

	    
	    <div class = "burger2"> Flamin' ChickenBurger </div>
	    <div class = "burger2-image"> <img src= "img/chickenBurger.jpg" alt= "chickenburger" height= "300" width="350"> </div>
	    <div class = "burger2-info">
	      <ul>
		<li> Deep fried chicken filet </li>
		<li> Flamin' sauce with cabbage coleslaw </li>
		<li> contains <span class = "allergies">gluten, lactose </span>  </li>
		<li> 450 kCal </li>
	    </div>

	    <div class = "burger3"> Tangy FishBurger </div>
	    <div class = "burger3-image">  <img src= "img/fishburger.jpg" alt= "fishburger" width="300"> </div>
	    <div class = "burger3-info">
	      <ul>
		<li> Pan fried Cod filet </li>
		<li> Tartar sauce with lettuce and tomotoes </li>
		<li> contains <span class = "allergies">gluten, lactose </span> </li>
		<li> 300 kCal </li>
	    </div>
	  </div>

	
	</section>
	<section id = "customerinfo">
	  <h2> Customer Information </h2>
	  <p> This is where you provide necessary information </p>
	  <h3> Delivery Information : </h3>
	  
	  <form>
	    <p>
	      <label for="fullname" >Full name</label> <br>
	      <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name" />
	    </p>

	    <p>
	      <label for="email" >E-mail</label> <br>
	      <input type="text" id="email" name="em" required="required" placeholder="E-mail address" />
	    </p>

	    <p>
	      <label for="street" >Street</label> <br>
	      <input type="text" id="street" name="st" required="required" placeholder="Street name" />
	    </p>

	    <p>
	      <label for="house" >House</label> <br>
	      <input type="text" id="house" name="hs" required="required" placeholder="House number" />
	    </p>

	    <p>
	      <label for="Payment">Payment options</label><br />
	      <select id="Payment" name= "pay">
		<option> Swish </option>
		<option selected = "Credit card"> Credit card </option>
		<option> Klarna </option>
		<option> paypal </option>
	      </select>
	    </p>

	    <p>
	      <label for="gender"> Gender</label><br>
	      <input type="radio" name="gender" value="male">Male<br>
	      <input type="radio" name="gender" value="female">Female<br>
	      <input type="radio" name="gender" value="other">Other<br>
	      <input type="radio" name="gender" checked="checked" value="do not wish">Do not wish to provide<br>
	    </p>
	  </form>
	  </section>
	  
	  <button type="submit"><img src="img/delivery.jpg" /> Place my order!</button>
	    
	    
      </main>
      <hr>
      <footer> &copy; 2018 Hypothetical Burgers Inc. </footer>
    </body>
</html>
         
