
body{
    font-family: "Times New Roman", serif;
    font-size: 20px;
}

.allergies{
    font-weight: bold;
}


#selectBurger{
    margin-top: 30px;
    padding-left: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: black;
    color: white;
    border: 2px dashed white;
}


#customerinfo{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
    margin-bottom: 50px;
    border: 2px dashed black;
}

button:hover{
    background-color: green;
    cursor: pointer;
}


table{
    width: 100%;
    text-align: center;
   
}

body{
    margin: 0 auto;
}

#heading{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    height: 400px;
    width:auto;
    overflow: hidden;
 
}
#heading-text{
    position:absolute;
    margin-top: -1100px;
    padding: 50px 110px;
    font-size: 120px;
    
}
	
    
#headerimage{
    width: 100%;
    height:auto;
    opacity: 0.3;
    
    
}

