
body{
    font-family: "Times New Roman", serif;
    font-size: 20px;
}

.allergies{
    font-weight: bold;
}


#selectBurger{
    margin-top: 120px;
    background-color: black;
    color: white;
}


#customerinfo{
    margin-top: 50px;
    margin-bottom: 50px;
}

button:hover{
    background-color: green;
    cursor: pointer;
}


table{
    width: 100%;
    text-align: center;
   
}

body{
    margin: 0 auto;
}

